[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Richard Talbot
	email = rtalbot76@gmail.com
[credential]
	helper = cache --timeout=9000000
